h3,span{
    font-size:x-large;
    height: 100px;
    width:2050px;
    text-align: center;
    
}

body{
    text-align: center;
    background-image: url("https://wallpapercave.com/wp/wp8457506.jpg");
}